html {	
	font-size: 62.5%;
}

body {
	font-family: arial;
	color: #5E2C1E;

	.application {
		font-size: 1.6rem;
		min-width: 5.4rem;


		.content-area {
			max-width: 	1115px;
			margin: 0 auto;
		}

		.page-header {
			margin: 0 1.5rem;
			position: relative;
			min-height: 8rem;

			h1, h2 {
				float: left;
				clear: left;
			}
			
		}

	}
	


// Base elements
// ===========================================================================================
	h1 { 
		font-family: "kg_happy_solidregular", arial;
		color: #fff;
		font-size: 4.9rem; 
	}

	h2 { 
		font-family: "kg_happy_solidregular", arial; 
		font-size: 1.5rem;
		color: #FF724D;
		line-height: 2rem;
		text-transform: uppercase;
	}

	h3 { 
		font-family: "kg_happy_solidregular", arial; 
		font-size: 1.3rem;
		color: #FFF;
		line-height: 2rem;

	}

	a {
		color: inherit;
		&:hover {
			color: #FF724D;
		}
	}

	button {
		display: inline-block;
		padding: 0.4rem 0.6rem 0.6rem;
		margin: 0;
		margin-top: 1rem;
		color: #ed8c72;
		background-color: #fff;
		font-size: 1.6rem;
		cursor: pointer;
		font-family: "kg_happy_solidregular",arial;

		&:hover {
			color: #FFF;
			background-color: #FFAC96;
		}
	}

	ul.nav {
		list-style: none;
		right: 0;
		position: absolute;
	}


// Reusable Elements
// ===========================================================================================
	.pill-list {
		margin: 0;

		li {
			display: inline-block;
			padding: 0.4rem 0.6rem
			margin: 0 0.4rem 0.4rem 0;
			color: #FFF;
			background-color: #ff724d;
			font-size: 1.3rem;
			min-height: 2rem;
			line-height: 2rem;
		}

		li.pill-button {
			cursor: pointer;
			transition: border-left 0.2s, background-color 0.2s;

			&:hover {
				background-color: #FFEBE6;
			}
		}
	}

	.inverted .pill-list,
	.pill-list.inverted {
		li {
			background-color: #fff;
			color: #5E2C1E;
		}
	}

// Row / Column layout
// ===========================================================================================
	// rows
	.row {
		width: 100%;
		height: 100%;
		padding: 6rem 0;

		h1 {
			color: #ff724d;
		}

		h2 {
			padding-bottom: 0.5rem;
			color: #ff724d;
		}

		h3 {
			color: #ff724d;
		}

		h4 {
			color: #ff724d;
			font-weight: normal;
			float: right;
		}
	}


	// colums
	.colum {
		display: inline-block;
		vertical-align: top;
		overflow: hidden;

		.colum-content {
			margin: 0 1.5rem;
			line-height: 2rem;
			padding-bottom: 1.5rem;
		}
	}

	.third {
		width: 33%;
	}

	.half {
		width: 50%;
	}




	.cover-row {
		color: #fff;
		padding-top: 3rem;
		border-bottom: 3px solid #FF724D;
		background-repeat: no-repeat;
		background-image: url("/assets/images/jim_banner.jpg");
		background-size: 100%;
		background-position-y: center;
		background-position-x: left;
		height: 33rem;
		
		h1 {
			color: #ed8c72;
			text-shadow: 3px 3px #5e2c1e;
		}

		h2 {
			color: #5e2c1e;
		}

		.callout {
			padding-top: 1.5rem;
			background-color: #fff;
			color: #5e2c1e;
		}

	}


	.row.inverted {
		color: #fff;
		background-color: #ED8C72;
		
		h1, h2, h3 {
			color: #fff;
		}

	}

	.header-row.inverted,
	.header-row.normal {
		padding: 6rem 0 4rem;
	}

	.sub-row.inverted,
	.sub-row.normal {
		padding: 0 0 4rem;
	}
	
	.block-colum-title {
		display: block;
		margin: 0 1.5rem;
		padding-bottom: 1.5rem;
	}

	.row.job {
		height: auto;
		padding: 0.75rem 0;

		h2 {
			padding-bottom: 0.5rem;
		}

		h3 {
			color: #ff724d;
		}

		h4 {
			color: #ff724d;
			font-weight: normal;
			float: right;
		}

		@media (max-width: 800px) {
			h4 {
				float: left;
			}
		}

	}


	
	.job-list {
		width: 200%;
		transition: margin-left 0.2s;

		h3 {
			display: inline-block;
		}

		h4 {
			display: block;
			font-size: 1.4rem;
		}

		.focused-job, .pill-list {
			display: inline-block;
			vertical-align: top;
			width: 50%;
		}
		
		.focused-job {
			background-color: #fff;
			color: #5e2c1e;
			padding-top: 1rem;
			padding-bottom: 1rem;
			font-size: 1.3rem;

			h3, h4 {
				color: #ff724d;
			}

			* {
				margin-right: 0.75rem;
				margin-left: 0.75rem;
			}
		}
	}

	.job-list[data-focused='focused'] {
		margin-left: -100%;
	}

	.modal-mask {
		background-color: rgba(0, 0, 0, 0.5);
		width: 100%;
		height: 100%;
		position: fixed;
		z-index: 2;
		font-size: 1.6rem;

		.modal-content {
			background-color: #fff;
			min-height: 45rem;
			max-width: 70rem;
			margin: 0 auto;
			margin-top: 1%;

			.nav {
				padding: 1rem;
				color: #f2c6bb;
			}
		}
	}
	
	@media (max-width: 800px) {
		.colum {
			width: 100% !important;

		}

		ul.nav {
			list-style: none;
			right: 0;
			position: relative;
		}

		.cover-row {
			height: 30rem;
		}

		.application .page-header {
			margin: 0 1.5rem;
			position: relative;
			min-height: 8rem;

			h1, h2 {
				float: none;
				clear: none;
			}
			
		}
	}
}
