{{#if isModalVisible}}
	<div class="modal-mask">
		<div class="modal-content">
			<div class="nav">
				<a {{action "closeModal"}} href="#">< Back</a>
			</div>
			{{outlet modal}}
		</div>
	</div>
{{/if}}
<div class="application">
	{{outlet}}
</div>
